<%= form_for @vineyard do |vineyard| %>

<strong>Add new vineyard</strong><br>

<div class="row collapse">
  <div class="small-2 columns">
    <%= vineyard.label :name, class: 'prefix radius' %>
  </div>
  <div class="small-10 columns">
    <%= vineyard.text_field :name %>
  </div>
</div>

<div class="row collapse">
  <div class="small-2 columns">
    <%= vineyard.label :address, class: 'prefix radius' %>
  </div>
  <div class="small-10 columns">
    <%= vineyard.text_field :address %>
  </div>
</div>

<div class="row collapse">
  <div class="small-2 columns">
    <%= vineyard.label :country, class: 'prefix radius' %>
  </div>
  <div class="small-10 columns">
    <%= vineyard.text_field :country %>
  </div>
</div>
  <%= vineyard.submit 'Add vineyard', class: 'small button' %>

<% end %>
