<h1>Wine cellar inventory</h1>



<% if user_signed_in? %>

<%= link_to "+", new_wine_path %><br><br>

  <% @wines.each do |wine| %>
    <%= wine.vintage %> -
    <%= link_to wine.name, wine %>
    by: <%= wine.vineyard.name %>  |
    <b>Qty:</b> <%= wine.on_hand %> <br>
  <% end %>

<% else %>



  Members have a total of <%= @wines.map(&:on_hand).reduce(&:+) %> wines in the cellar!

  <br>

  (Members have consumed <%= @wines.map(&:consumption).reduce(&:+) %> wines, though!)

<% end %>


