<% if user_signed_in? %>

<br>
<br>

<h3>Wines currently in my cellar</h3>

<table>
  <thead>
    <td>Vintage</td>
    <td>Name</td>
    <td>Vineyard</td>
    <td>Quantity</td>
    <td>Category</td>
    <td>Varietal</td>
    <td>Occasion</td>
  </thead>

  <% @wines.each do |wine| %>
    <% if wine.on_hand > 0 %>
      <tr>
        <td><%= wine.vintage %></td>
        <td><%= link_to wine.name, wine %></td>
        <td><%= wine.vineyard.name %></td>
        <td><%= wine.on_hand %></td>
        <td><%= wine.category %></td>
        <td><%=wine.grape %></td>
        <td><%= wine.occasion %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "Add a new wine to my collection", new_wine_path, class: 'button radius primary' %><br><br>

  <hr>

<h3>Wines I've already enjoyed</h3>

<table>
  <thead>
    <td>Vintage</td>
    <td>Name</td>
    <td>Vineyard</td>
    <td>Consumed</td>
    <td>Category</td>
    <td>Varietal</td>
    <td>Review</td>
  </thead>

  <% @wines.each do |wine| %>
    <% if wine.on_hand <= 0 %>
      <tr>
        <td><%= wine.vintage %></td>
        <td><%= link_to wine.name, wine %></td>
        <td><%= wine.vineyard.name %></td>
        <td><%= wine.consumption %></td>
        <td><%= wine.category %></td>
        <td><%=wine.grape %></td>
        <td><% if wine.reviews.present? %>
              yes
            <% end %>

        </td>
      </tr>
    <% end %>
  <% end %>
</table>



<% else %>



  Members have a total of <%= @wines.map(&:on_hand).reduce(&:+) %> wines in the cellar!

  <br>

  (Members have consumed <%= @wines.map(&:consumption).reduce(&:+) %> wines, though!)

<% end %>


