<h1>Wine cellar inventory</h1>

<%= link_to "+", new_wine_path %><br><br>

<% @wines.each do |wine| %>

  <%= wine.vintage %> - <%= link_to wine.name, wine %>
  by: <%= wine.vineyard.name %>  | <b>Qty:</b> <%= wine.on_hand %> <br>

<% end %>


