<h1>Wine cellar inventory</h1>

<%= link_to "+", new_wine_path %>

<% @wines.each do |wine| %>

<h3><%= wine.vintage%> <%= wine.name %> -
<%= wine.vineyard %></h3>

<p>"<%= wine.description %>"</p>
<p>Grape varietal: <%= "#{wine.grape} (#{wine.category})"%>

<p><%= number_to_currency(wine.price) %></p>
<p>Occasion: <%= wine.occasion %>

<% end %>



