<% if user_signed_in? %>

<br>
<br>

<h3>Wines currently in my cellar</h3>

<table>
  <thead>
    <td>Vintage</td>
    <td>Name</td>
    <td>Vineyard</td>
    <td>Quantity</td>
    <td>Category</td>
    <td>Varietal</td>
    <td>Occasion</td>
  </thead>

  <% @wines.each do |wine| %>
    <% if wine.on_hand > 0 %>
      <tr>
        <td><%= wine.vintage %></td>
        <td><%= link_to wine.name, wine %></td>
        <td><%= wine.vineyard.name %></td>
        <td><%= wine.on_hand %></td>
        <td><%= wine.category %></td>
        <td><%=wine.grape %></td>
        <td><%= wine.occasion %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "Add a new wine to my collection", new_wine_path, class: 'button radius primary' %><br><br>

  <hr>

<h3>Wines I've already enjoyed</h3>

<table>
  <thead>
    <td>Vintage</td>
    <td>Name</td>
    <td>Vineyard</td>
    <td>Consumed</td>
    <td>Category</td>
    <td>Varietal</td>
    <td>Review</td>
  </thead>

  <% @wines.each do |wine| %>
    <% if wine.on_hand <= 0 %>
      <tr>
        <td><%= wine.vintage %></td>
        <td><%= link_to wine.name, wine %></td>
        <td><%= wine.vineyard.name %></td>
        <td><%= wine.consumption %></td>
        <td><%= wine.category %></td>
        <td><%=wine.grape %></td>
        <td><% if wine.reviews.present? %>
              yes
            <% end %>

        </td>
      </tr>
    <% end %>
  <% end %>
</table>



<% else %>
  <div align="center">
    <br>
    <img class="front_page_image" src="http://i.imgur.com/Mq5GHul.png">
    <h3>Members are storing <%= @wines.map(&:on_hand).reduce(&:+) %> wines in the cellar!</h3>
    <h3>(Registered users have consumed <%= @wines.map(&:consumption).reduce(&:+) %> bottles!)</h3>

    <br>
    <br>
    <%= link_to "Log in now to manage your wines", new_user_session_path, class: 'button secondary' %>
  </div>
<% end %>


