<h1>Add a new wine</h1>

<%= form_for @wine do |f| %>


  <%= select_tag(:vineyard_id, options_for_select(@vineyard_options)) %>

  <%= f.label :product_key %>
  <%= f.text_field :product_key %>


  <%= f.label :price %>
  <%= f.text_field :price %>

  <br>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <br>

  <%= f.label :grape %>
  <%= f.text_field :grape %>

  <br>

  <%= f.label :occasion %>
  <%= f.text_field :occasion %>

  <br>

  <%= f.submit 'Submit' %>

<% end %>
