<h1>Add a new wine</h1>

<%= form_for @vineyard do |vineyard| %>
  <%= vineyard.label :name %>
  <%= vineyard.text_field :name %><br>

  <%= vineyard.label :address %>
  <%= vineyard.text_field :address %><br>

  <%= vineyard.label :country %>
  <%= vineyard.text_field :country %><br>
  <%= vineyard.submit %>
<% end %>

<%= form_for @wine do |f| %>

  Select current vineyard:<br>
  <%= f.select :vineyard_id, @vineyard_options, include_blank: true %><br>

  <br>

  <strong>Add new vineyard</strong><br>



  <!-- form helper for vineyard add? -->


<br>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :vintage %>
  <%= f.text_field :vintage %>

  <br>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <br>

  <%= f.label :category %>
  <%= f.select :category, Wine::CATEGORIES, include_blank: true %>

  <br>

  <%= f.label :grape %>
  <%= f.select :grape, Wine::GRAPES, include_blank: true %>

  <br>

  <%= f.label :occasion %>
  <%= f.select :occasion, Wine::OCCASIONS, include_blank: true %>

  <br>

  <%= f.label :on_hand %>
  <%= f.text_field :on_hand %>

  <br>

  <%= f.submit 'Submit' %>

<% end %>
