<h1>Add a new wine</h1>

<%= form_for @wine do |f| %>

  Select current vineyard:<br>
  <%= f.select :vineyard, @vineyard_options, :include_blank => true %><br>

  <br>

  <strong>Add new vineyard</strong><br>

  <%= f.fields_for @vineyard do |vineyard| %>
    <%= vineyard.label :name %>
    <%= vineyard.text_field :name %><br>

    <%= vineyard.label :address %>
    <%= vineyard.text_field :address %><br>

    <%= vineyard.label :country %>
    <%= vineyard.text_field :country %><br>
    <%= vineyard.submit %>
  <% end %>

  <!-- form helper for vineyard add? -->


<br>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <br>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <br>

  <%= f.label :grape %>
  <%= f.text_field :grape %>

  <br>

  <%= f.label :occasion %>
  <%= f.text_field :occasion %>

  <br>

  <%= f.submit 'Submit' %>

<% end %>
