<h1><%= @wine.name %></h1>

Vineyard: <%= @wine.name %><br>
Vintage: <%= @wine.vintage %><br>
Description: <%= @wine.description %><br>
Price: <%= @wine.price %><br>
Category: <%= @wine.category %><br>
Grape: <%= @wine.grape %><br>
Occasion: <%= @wine.occasion %><br>


On-hand: <%= @wine.on_hand %> | Consumption: <%= @wine.consumption %><br>
<ul class = "button-group round">
  <li><%= button_to  "Drink", downcount_wine_path, class: 'small button secondary' %></li>
  <li><%= button_to  "Add", upcount_wine_path, class: 'small button secondary' %></li>
</ul>



<br>
<br>

<p>Please leave a review:</p>

<%= form_for [@wine, @review] do |f| %>

  <%= f.label :description  %>
  <%= f.text_area :description  %>

  <%= f.submit 'Review' %>
<% end %>


<% @wine.reviews.each do |review| %>
  <%= review.description %> <br>
<% end %>





