<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


  <div class="hero">
  <h1>WINE CELLAR</h1>
  </div>

  <nav class="top-bar" data-topbar>
  <%= render 'nav' %>
  </nav>



  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>


  </body>
</html>
